[Desktop Entry]
Name=Zenith-Energy
Comment=Professional CPU Power Optimizer
Exec=zenith-energy
Type=Application
Terminal=false
Icon=zenith-energy
StartupWMClass=zenith-energy
Categories=System;Settings;
